{% extends "layout.html" %}

{% block content %}

<h2>ABOUT ME</h2>
<p>Hi, I’m Abdulaleem Altarsha,<br>
a Computer Engineering student at Ankara Medipol University.<br>
I focus on web development and I’m driven by a simple mindset: if a project needs a tool or technology I don’t know yet, I’ll learn it.<br>

I’m a hardworking and adaptable learner who enjoys solving problems, building clean solutions, and improving with every project.<br>
I’m currently seeking internship opportunities where I can contribute, grow, and work with real-world development teams.<br>
Studying abroad has helped me become more independent, open-minded, and confident in taking on new challenges—both academically and professionally.</p>

<br><br> <a href="{{ url_for('home') }}" class="back-btn">
                <i class="fa-solid fa-arrow-left"></i> Go Back
            </a>
{% endblock %}