{% extends "layout.html" %}

{% block content %}
    <h2>Skills</h2>
    <ul>
        <li>Engineering</li>
        <li>Research skills</li>
        <li>Analytical Skills</li>
        <li>Communication Skills</li>
        <li>Team Leadership</li>
        <li>Problem solving</li>
        <li>Adaptability</li>
        <li>Decision-Making</li>
        <li>Creativity </li>
        <li>Teamwork & Collaboration </li>
    </ul>
    <br><br> <a href="{{ url_for('home') }}" class="back-btn">
                <i class="fa-solid fa-arrow-left"></i> Go Back
            </a>
{% endblock %}