{% extends "layout.html" %}

{% block content %}
<h2>Volunteering</h2>

<ul class="timeline">
    
    <li>
        <strong>Food Packaging Volunteer</strong>
        <p>Assisted in preparing and packaging food boxes before Ramadan for three consecutive years. The boxes were delivered to charitable organizations that distributed them to families in need.</p>
    </li>

    <li>
        <strong>Administrative Volunteer (Umrah Trip Organizer)</strong>
        <p>Volunteered in organizing an Umrah trip during the last ten days of Ramadan 2022 for underprivileged individuals. Assisted in coordinating transportation and managing administrative tasks.</p>
    </li>

    <li>
        <strong>Iftar Meal Distribution Volunteer</strong>
        <p>Participated in distributing Iftar meals on the streets of Jeddah before Maghrib prayer. Prepared and handed out meal bags containing dates and light food items near King’s Road.</p>
    </li>

    <li>
        <strong>Media & Communications Volunteer</strong>
        <p>Served as the Media and Communications Volunteer, managing the center’s social media accounts. Documented and promoted volunteer opportunities, increasing community engagement.</p>
    </li>

</ul>
<br><br> <a href="{{ url_for('home') }}" class="back-btn">
                <i class="fa-solid fa-arrow-left"></i> Go Back
            </a>
{% endblock %}
