{% extends "layout.html" %}

{% block content %}
<h2>Volunteering</h2>
<ul>
    <li>Food Packaging Volunteer </li>
    <p>Assisted in preparing and packaging food boxes before Ramadan for three consecutive years. The boxes were delivered to charitable organizations that distributed them to families in need. Contributed to organizing and filling the packages with essential food items, ensuring they reached the proper authorities for distribution.</p>

    <li>Administrative Volunteer (Umrah Trip Organizer)</li>
    <p>Volunteered in organizing an Umrah trip during the last ten days of Ramadan 2022 for underprivileged individuals. Assisted in coordinating transportation, managing administrative tasks on the bus, and ensuring smooth arrangements. The initiative also included providing dinner for the participants after the pilgrimage.</p>

    <li>Iftar Meal Distribution Volunteer</li>
    <p>Participated in distributing Iftar meals on the streets of Jeddah before Maghrib prayer during Ramadan for three consecutive years (2021–2023). Prepared and handed out meal bags containing dates, laban, and light food items near King’s Road by the Globe Roundabout, supporting those who were unable to reach home in time for Iftar.</p>

    <li>Media & Communications Volunteer</li>
    <p>Served as the Media and Communications Volunteer, managing the center’s social media accounts (Twitter, Instagram, Snapchat, and WhatsApp groups). Documented and promoted volunteer opportunities, increasing community engagement and participation. Covered and highlighted multiple initiatives, including Iftar meal distribution, “Aisha’s Clothing Project” (collecting and redistributing surplus clothes from residents to families in need), and other community support programs.</p>
</ul>
<br><br> <a href="{{ url_for('home') }}" class="back-btn">
                <i class="fa-solid fa-arrow-left"></i> Go Back
            </a>
{% endblock %}